body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #30402c;
  overflow: hidden;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.navbar a:hover {
  background-color: #575757;
}
footer {
  text-align: center;
  padding: 3px;
  background-color: #30402c;
  color: white;
}