body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #30402c;
  overflow: hidden;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.navbar a:hover {
  background-color: #575757;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 100px;
  background-color: whitesmoke;
  color: black;
  text-align: justify;
}
footer span {
  flex: 2 1 300px;
  min-width: 250px;
  padding: 20px;
}
footer img {
  max-width: 300px;
  height: auto;
  flex: 1 1 300px;
  margin-right: 20px;
}
h1 {
  text-align: center;
  background-image: url('images/karacis-studio-pquE90oyRjU-unsplash.jpg');
  background-position: center 30%;
  background-size: 100% auto;
  padding: 60px;
  text-shadow: 2px 2px 6px rgba(255, 255, 255, 0.7);
}
h2 {
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #ff8f8f;
  border-radius: 8px;
}
p {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 20px;
}
form {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20 px;
  margin-bottom: 20px;
}
img {
  display: block;
  width: 30%;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  object-fit: contain;
  padding: 5px;
}
.box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid #ccc;
  padding: 20px;
  max-width: 800px;
  margin: 40px auto;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

.index_class {
  flex: 1 1 300px;
  padding-right: 20px;
}

.index_class h2 {
  margin: 0 0 10px;
  font-size: 24px;
  color: #333333;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 8px;
}

.index_class p {
  margin: 0 0 15px;
  font-size: 16px;
  color: #000000;
}

.index_class a {
  text-decoration: none;
  color: #007BFF;
  font-weight: bold;
}

.image-content {
  flex: 1 1 250px;
  text-align: center;
  float: inline-end;
  width: 100%;
}