body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #30402c;
  overflow: hidden;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.navbar a:hover {
  background-color: #575757;
}
footer {
  text-align: center;
  padding: 20px;
  background-color: #30402c;
  color: white;
}
h1 {
  text-align: center;
  background-image: url('images/karacis-studio-pquE90oyRjU-unsplash.jpg');
  background-position: center 30%;
  background-size: 100% auto;
  padding: 60px;
  text-shadow: 2px 2px 6px rgba(255, 255, 255, 0.7);
}
h2 {
max-width: 600px;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #ff8f8f;
  border-radius: 8px;
}
p {
max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 20px;
}
form {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20 px;
  margin-bottom: 20px;
}